<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Welcome: NGNIA</title>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <meta name="description" content="NGNIA - Solution integrator: Integrateur de solution">
    <link rel="canonical" href="https://www.ngnia.com/" />
    <meta property="og:title" content="Integrateur de solution">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="NGNIA - Solution integrator">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://www.ngnia.com/">
    <meta property="og:description" content="NGNIA - Solution integrator: Integrateur de solution">
    <!-- <meta property="og:image"
      content="https://jtom.me/images/avatar.png">-->
    <!-- <meta property="og:image:type" content="image/png"> -->
    <!-- <meta property="og:image:width" content="152"> -->
    <!-- <meta property="og:image:height" content="152"> -->
    <meta property="fb:profile_id" content="ngnia">
    <meta property="fb:admins" content="ngnia">

    <link rel="stylesheet" href="main.css">

  </head>
  <body>
    
    <div class="container">
        <h1>Welcome to NGNIA</h1>
        <div>Email: <strong>ckam225@gmail.com</strong></div>
       </div>
  </body>
</html>