* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #118ab2;
  font-size: 35px;
}

h1 {
  color: #fff;
  font-size: 65px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
